/* Vertical Spacing */
.section-block-lg {
    margin-block: clamp(3.5rem, 5vw, 5rem);
}

.section-block-md {
    margin-block: clamp(3rem, 4vw, 4rem);
}

.section-block-sm {
    margin-block: clamp(2rem, 3vw, 3rem);
}
