/* Card Base */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1rem;
}

/* Card Variants */
.card-grid--sqr {
    grid-auto-rows: 12.5rem;
}

.card-grid--rect {
    grid-auto-rows: 8rem;
}